$color-primary: #ff5a3c;
$color-text: #071c1f;
$color-text-title: #ffffff;
$color-white: #ffffff;
$color-border: #eeeff2;
$color-background-form: #f0f1f2;
$color-black: #000000;
$color-background-footer: #171b2a;
