@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/** 
* font family
*/
$ff-nunito: 'Nunito', sans-serif;
$ff-poppins: 'Poppins', sans-serif;
/** 
* font weight
*/
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
